.tileBox {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: #d9d9d9;
}

.tileBox:hover {
  cursor: pointer;
  background-color: #bfbfbf;
}

.tileBox:active {
  cursor: pointer;
}

.source,
.source:hover {
  background-color: #13f02c;
}

.target,
.target:hover {
  background-color: #ec0000;
}

.path,
.path:hover {
  background-color: violet;
}

.obstacle,
.obstacle:hover {
  background-color: #515151;
}
