.tileBox {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  background-color: grey;
}

.tileBox:hover {
  cursor: pointer;
  background-color: #737373;
}

.source,
.source:hover {
  background-color: #669acc;
}

.target,
.target:hover {
  background-color: #f89345;
}

.path,
.path:hover {
  background-color: black;
}

.obstacle,
.obstacle:hover {
  background-color: brown;
}
